.FavoriteItem {
  height: 100px;
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.FavoriteItem h2 {
  font-size: 1.15rem;
  margin: 0.25rem 0;
}

.ButtonFav {
  height: 40px;
  width: 40px;
  background: url('./../../assets/icons/favorite.svg') no-repeat center/cover;
}
