.ProductItem h2 {
  margin: 15px 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: green;
}

.ProductItem p {
  padding: 5px 10px;
  height: 45px;
  width: 100%;
  overflow: hidden;
}

.ButtonFav {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  background: url('./../../assets/icons/favorite.svg') no-repeat center/cover;
}

.ButtonUnFav {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 40px;
  width: 40px;
  background: url('./../../assets/icons/favorite-border.svg')no-repeat center/cover;
}

.flex {
  display: flex;
}


.ProductItem {
  position: relative;
  width: 400px;
  height: 500px;
}

.ProductItemImage {
    width: 400px;
    height: 350px;
    object-fit: cover;
    object-position: center;
    
}
