.Input {
    width: 400px;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 20px 0;
}
.InputTitle {
    margin-bottom: 20px;
}
.InputField {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px;
  font-size: 20px;
  background-color: #fff;
  border: 1px solid #ced4da;
}

@media (max-width: 600px) {
  .Input {
      width: 300px;
  }
}
