.LogInForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Button {
  width: 400px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 40px;
  border: 0;
  min-height: 40px;
  color: #FFD900;
  background-image: linear-gradient(to right, #50026E 0%, #7C07A9 100%);
  background-repeat: repeat-x;
}

.Logo {
  width: 400px;
  height: 400px;
}

@media (max-width: 600px) {
  .Logo {
    width: 300px;
    height: 300px;
  }
  .Button {
    width: 300px;
  }
}