.MainHeader {
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7C07A9;
}

.MainHeader nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainHeader ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainHeader li {
  padding: 0;
  margin: 0 2rem;
}

.MainHeader a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}